
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 0px;
  }

  .grid-cell {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .label-cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }

  #grid1 {
    margin-left: 20px;
  }

  #grid2 {
    margin-right: 20px;
  }

  #grid1 .grid-cell:hover {
    border: 4px solid green;
    width: 72px;
    height: 72px;
    cursor: pointer;
    transition: 0.1s;
  }

  #grid2 .grid-cell.ship {
    background-color: #3498db;
    border-color: #2980b9;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .top-section{
    position: absolute;
    top: 20px;
    display: flex;
  }

  .ekfonitis{
      width: 300px;
      height: 40px;
      background-color: rgb(203, 203, 203);
      border-radius: 10px;
      text-align: center;
      overflow: hidden;
  }

  #inner-text{
 margin-top: 10px;
  }

  .hit-cell {
      background-color: red;
      position: relative;
      cursor: default !important;
      border: 0px !important;
      width: 80px !important;
      height: 80px !important;
  }

  .hit-cell::before {
      content: 'X';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; /* Change the font color to red */
      font-weight: bold;
      font-size: 80px; /* Adjust the font size as needed */
  }

  .empty-cell {
      background-color: grey;
      position: relative;
      cursor: not-allowed !important;
      border: 0px !important;
      width: 80px !important;
      height: 80px !important;
  }

  .empty-cell::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; /* Change the font color to red */
      font-weight: bold;
      font-size: 80px; /* Adjust the font size as needed */
  }


.locked {
    position: absolute;
    margin-top:10px;
    margin-left:30px;
    width: 470px;
    height: 470px;
    background-color: rgba(241, 241, 241, 0.7);
    border-radius:10px;
    padding:10px;
    cursor: not-allowed !important;
  }